<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketBook - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div>
            <h1>PocketBook</h1>
        </div>
        <div>
            <a href="{% url 'create_budget' %}">New Budget</a>
        </div>
        <div class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
            <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">

        {% block content %}
        
        {% endblock %}

    </div>
</body>
</html>