{% extends 'base.html' %}



{% block content %}

<div class="card">
    <h1 class="text-center">{{budget.name}}  </h1>
    <h2 class="text-center">Budget for {{budget.budget_month}}, {{budget.budget_year}}</h2>
    <a href="{% url 'budget_update' budget.pk %}"><button class="btn btn-secondary" style="border-radius: 10px;"><i class="fa-solid fa-pen-to-square"></i></button></a>
    <p>Total Income: ${{budget.total_income}}</p>

    <table class="table table-secondary table-hover table-striped table-bordered" style="border: 2px solid black;">
        <thead>
            <tr>
                <th scope="col">Expense</th>
                <th scope="col">Amount</th>
                <th scope="col">Due Date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in budget.expenses.all %}
            <tr>
                <td>{{expense.name}}</td>
                <td>${{expense.amount}}</td>
                <td>{{expense.due_date}}</td>
                <td><a href="{% url 'expense_delete' expense.pk %}"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% empty %}

            <p>No expenses added yet. Use the form below to add an expense.</p>

            {% endfor %}

        </tbody>
    </table>
    <h3>Total Expenses: ${{budget.total_expenses}}</h3>
    <h3>Total Leftover: ${{budget.total_leftover}}</h3>
</div>

<div class="card mb-3">
    <h4 class="mb-4">Create New Expense</h4>
    <form method="post" action="{% url 'create_expense' budget.pk %}">
        {% csrf_token %}
        <div class="row g-3">
            <div class="row mb-3 mt-4">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                <input class="col-md-6" type="text" name="name" id="name" placeholder="Enter Expense Name" required>
            </div>
            <div class="row mb-3">
                <label for="amount" class="col-sm-2 col-form-label">Amount:</label>
                <input class="col-md-6" type="number" name="amount" id="amount" placeholder="Expense Amount" required>
            </div>
            <div class="row mb-3">
                <label for="due_date" class="col-sm-2 col-form-label">Due Date:</label>
                <input class="col-md-6" type="date" name="due_date" id="date-picker">
            </div>
            <div class="col-12">
                <input style="border-radius: 10px;" class="btn btn-secondary" type="submit" value="Add Expense">
            </div>
        </div>
    </form>
</div>



{% endblock %}