{% extends 'base.html' %}


{% block content%}
<div class="card" style="width: 80vw;">
    <h1>Welcome to PocketBook!</h1>
    <hr>
    <div style="width: 50rem;">
    <p>PocketBook is a simple monthly budget tool.  Go ahead and create an account.  Once that's done, you can create monthly budgets and see how your income fares against your expenses! Good Luck. </p>
</div class="row">
    <a href="{% url 'login' %}"><button>Log In</button></a>
    <a href="{% url 'signup' %}"><button>Sign Up</button></a>
</div>
{% endblock %}



